

    .shadoww{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

  [class*="column"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .column1 {width: 8.33%;}
    .column2 {width: 16.66%;}
    .column3 {width: 25%;}
    .column4 {width: 33.33%;}
    .column5 {width: 41.66%;}
    .column6 {width: 50%;}
    .column7 {width: 58.33%;}
    .column8 {width: 66.66%;}
    .column9 {width: 75%;}
    .column10 {width: 83.33%;}
    .column11 {width: 91.66%;}
    .column12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .column1 {width: 8.33%;}
    .column2 {width: 16.66%;}
    .column3 {width: 25%;}
    .column4 {width: 33.33%;}
    .column5 {width: 41.66%;}
    .column6 {width: 50%;}
    .column7 {width: 58.33%;}
    .column8 {width: 66.66%;}
    .column9 {width: 75%;}
    .column10 {width: 83.33%;}
    .column11 {width: 91.66%;}
    .column12 {width: 100%;}
  }

  .rating {
    font-size: 20px;
}

.checked {
    color: rgb(135, 187, 32);
}
.topright {
    position: absolute;
    top: 100px;
    left: 60px;
    font-size: 18px;
    background-image: "../images/veg.png";
  }

.kkk:before {
    content: "MEEST GEKOZEN";
    position: absolute;
    top: 0px;
    right: -27px;
    width: 75px;
    text-align: center;
    transform: rotate(45deg);
    background: darkorange;
    padding: 10px;
    color: white;
    font-size: 9px;
    font-weight: 600;
}
