.rating {
    font-size: 10px;
}

.checked {
    color: rgb(135, 187, 32);
}

.item{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.hover-item {
    transition: 0.3s;
  }
.hover-item:hover {
transform: translate(0, -15px);
}
.shadoww{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}